<!DOCTYPE html>
<html>
<head>
	
	<title>Justin Silvestre - Web Developer</title>

	<%- include sitewide %>

	<script>
		
	</script>

	<script src="about.js"></script>
</head>


<body id="about" class="stop-transitions">&nbsp;

<div id="main-content">
<h1>About Justin</h1>

<ul id="trajectory">
	<li><span>Pennsylvania</span> <span class="year">1991</span></li> <li>→</li>
	<li><span>New York</span> <span class="year">2010</span></li> <li>→</li>
	<li><span>Dallas</span> <span class="year">2014</span></li>
</ul>

<p>Justin first started making websites in middle school as a way to show off his artwork and <a id="flash-link" href="#flash">experiments in Flash</a>.</p>
<div id="flash">
	<div>
		<img src="oldgifs/pimplelqsmall.gif" alt="">
	</div>
</div>

<p>When it came time to choose what to study in college, his other passion, language, won out over art. He set out to become a professor, but four years immersed in academia was enough to change his mind.</p>

<p>Early in 2015, he discovered Rails, and everything that baffled him as a kid trying to grapple with PHP and SQL <a href="https://medium.com/@justinsilvestre/zero-dollars-nine-months-and-a-career-in-web-development-2fad577518eb" target="_blank">suddenly made perfect sense</a>. Web development wasn't just about writing code, he realized&mdash;it could be just the outlet he needed to satisfy his creative impulse. He decided to learn everything he could about it, dedicating himself full-time to learning Ruby and JavaScript. He wants to make a living creating things that are beautiful and useful.</p>

</div>

<%- include footer %>

</body>

</html>