<!DOCTYPE html>
<html>
<head>

	<title>Justin Silvestre - Web Developer</title>

	<%- include sitewide %>

	<script>

	</script>

	<script src="about.js"></script>
</head>


<body id="about" class="stop-transitions">&nbsp;

<div id="main-content">
<h1>About Justin</h1>

<ul id="trajectory">
	<li><span>Pennsylvania</span> <span class="year">1991</span></li> <li>→</li>
	<li><span>New York</span> <span class="year">2010</span></li> <li>→</li>
	<li><span>Dallas</span> <span class="year">2014</span></li> <li>→</li>
	<li><span>?</span> <span class="year">2017</span></li>
</ul>

<p>Life goal: joining beauty with utility.</p>

<p>Justin's experience reaches back to his childhood, when he made websites to showcase his artwork and <a id="flash-link" href="#flash">experiments in Flash</a>. That creative bent has translated to a passion for expressiveness and sound craftsmanship in his code. His ideal position would let him work at the intersections of his passions—software, language, and art.</p>
<div id="flash">
	<div>
		<img src="oldgifs/pimplelqsmall.gif" alt="">
	</div>
</div>

</div>

<%- include footer %>

</body>

</html>
