<footer>
	<ul>
		<li><a href="/about">about me</a></li>
		<li>
			<a id="twitter" href="http://twitter.com/justsilvestrein"><i class="fa fa-twitter"></i> Twitter
			<p id="tweet">
				<%- tweet.text %>
				<span id="tweet-info"><%- tweet.tweet_info %></span>
			</p>
			</a>
		</li>
		<li><a href="https://github.com/justinsilvestre?tab=repositories"><i class="fa fa-github"></i> Github</a></li>
		<li><a href="mailto:justinsilvestre@gmail.com"><i class="fa fa-envelope"></i> justinsilvestre@gmail.com</a></li>
	</ul>
</footer>
<script>thobject = <%- JSON.stringify(tweet) %></script>

