<!DOCTYPE html>
<html>
<head>
	<title>Justin Silvestre - Web Developer</title>

	<%- include sitewide %>
	<script src="index.js"></script>

</head>

<body id="home" class="stop-transitions">

<div id="main-content">
	<div id="bg1" class="bg"></div>
	<div id="bg2" class="bg"></div>
	<div id="bg3" class="bg"></div>

	<h1><span id="my-name">Justin Silvestre</span><small>Web Developer</small></h1>

	<div id="assets">
	
		<h2 class="technical">technical skill</h2>
		
		<section class="technical details">
			<ul>
				<li>Rails, Foundation/SASS, Backbone.js</li>
				<li>A passion for object-oriented design</li>
			</ul>
		</section>

		<h2 class="creative">creative eye</h2>

		<section class="creative details">
			<div class="gallery">
			[gallery goes here]
<!-- 				<img src="sketchbook/birdsmall.gif" alt="">
				<img src="sketchbook/dripsmall.gif" alt="">
				<img src="sketchbook/pimplelqsmall.gif" alt=""> -->
			</div>
		</section>

		<h2 class="cultural">cultural savvy</h2>

		<section class="cultural details">
			<p>Educated in English, French, and Spanish</p>
			<p>B.A. French &amp; Spanish St John's University <i>cum laude</i></p>
		</section>

	</div>

</div>

<%- include footer %>

</body>

</html>