$sans-serif: 'Roboto', 'Helvetica', 'Neue Helvetica', 'Arial', sans-serif;
$header-font: 'Karla', sans-serif;
$phi: 1.61803399;
$notphi: 1.25;
$blue: #00378A;

a {
	color: black;
	text-decoration: none;
}

h1 {
	font-family: $header-font;
}

i { font-style: italic; }



html {
	height: 100%;
	box-sizing: border-box;
}

body {
	min-height: 100%;
	position: relative;

	font-family: $sans-serif;
	font-weight: 300;

	box-sizing: border-box;
	padding-bottom: 3rem;
}

a {
	color: inherit;
	text-decoration: underline;
	&:hover {
		color: #1D4983;
	}
}


@keyframes up-in {
	from {transform: translate(0, 10%); opacity: 0;}
	to { transform: translate(0,0); opacity: 1;}
}


.stop-transitions * { transition: none !important; animation-name: none !important; }
