
/*
  1.61803399;
  1.25;
*/

.sansSerif {
  font-family: 'Roboto', 'Helvetica', 'Neue Helvetica', 'Arial', sans-serif;
}
.headerFont {
  font-family: 'Karla', sans-serif;
}
.fontSizePhi {
  font-size: 1.61803399rem;
}
.fontSizePhi2 {
  font-size: 2.6180339927953202rem;
}

.headerSize {
  font-size: 2.0225424875rem;
}

.smallTextSize {
  font-size: 0.8rem;
}

.lineHeightPhi {
  line-height: 1.61803399;
}
.lineHeightNotPhi {
  line-height: 1.25;
}




.blueText {
  color: #00378A;
}
.blueBackground {
  background-color: #00378A;
}
.blurBorder {
  border-color: #00378A;
}

.blueTextLightened {
  color: #0060f0;
}




.paddingBottomFooterHeight {
  padding-bottom: 3rem;
}
.footerMinHeight {
  height: 3rem;
}
