$sans-serif: 'Helvetica', 'Neue Helvetica', 'Arial', serif;
$serif: 'Quattrocento', 'Georgia', serif;
$header-font: 'Raleway';
$phi: 1.61803399;
$notphi: 1.25;
$blue: #00378A;



a {
	color: black;
	text-decoration: none;
}

h1 {
	font-family: $header-font;
}

i { font-style: italic; }








html {
	height: 100%;
	box-sizing: border-box;
}

body {
	min-height: 100%;
	position: relative;

	font-family: $serif;

	$footer-height: 3rem;
	padding-bottom: $footer-height;
	box-sizing: border-box;
	footer {
		position: absolute;
		bottom: 0;
		min-height: $footer-height;
		padding: .5rem 2rem;
	  width: 100%;
	  box-sizing: border-box;

	  text-align: right;

	  li {
	  	display: inline-block;
	  	padding: .25rem .5rem;
	  	box-sizing: border-box;

	  	text-align: center; 

			@media screen and (max-width: 500px) { width: 100%; }

	  }
	  a {
	  	color: inherit;
	  	&:hover {
	  		color: #1D4983;
	  	}
	  }
	}
}


.stop-transitions * { transition: none !important; }