$smaller: "screen and (max-width: 499px)";
$bigger: "screen and (min-width: 500px)";


.home {

	footer { @media #{$smaller} { position: static; margin-top: 7em; } }

	.main-content {
	  width: 100%;
	  max-width: 870px;
	  margin: 0 auto;
	}

	h1 {
		padding: 7% 1rem;

		text-align: center;
		font-size: $phi * $phi * 1rem;
		font-weight: 100;

		transition: color .5s;
		&.all-clicked { color: $blue; 
			& small { color: lighten($blue, 20%); } }

		small {
			display: block;
			margin-top: .5em;

			font-size: 1em / $notphi;
			text-transform: lowercase;

			transition: color .5s;
		}
	}
	
	$sea: #1F7171;
	$sunset: #DD6C00;
	$stone: #A17B19;

	$orange: #FFA200;
	$brown: #482424;

	div.assets {
		position: relative;

		@media #{$bigger} { padding-top: calc(7% + 4.85410197rem); }
		box-sizing: border-box;

		h2 {

			position: absolute;
			left: 50%;
			@media #{$bigger} { transform: translate(-50%); }
			@media #{$smaller} { position: static; margin-top: 4em; }
			
			text-align: center;
		  font-size: $phi * 1rem;
		  font-family: $header-font;
		  font-weight: 100;
		


			&.technical { color: $blue; 
				top: 0;
				&:hover { color: lighten($blue, 20%); }
			}
			&.creative { color: $orange;
				top: 1em;
				&:hover { color: scale-color($orange, $lightness: 20%); }
			}
		  &.cultural  { color: $brown; 
		  	top: 2em;
		 		&:hover { color: scale-color($brown, $lightness: 20%); }
			}

					&.clicked { transition: color 2s; color: black; }

			transition: color .25s; 
			&:hover { cursor: pointer; }
		}

		section.details {
			display: none;
			@media #{$smaller} { display: block; }

			&.active {
				display: block;
			}

			width: 100%;
		  margin: 0 auto;
		  padding: 1em;
		  box-sizing: border-box;
		  text-align: center;

			line-height: $notphi;

			animation-name: detail;
			animation-duration: 1s;
		}
	}


	.bg {
		position: absolute;
		top: 0; bottom: 0; right: 0; left: 0;
		z-index: -1;

		background-position: center;
		background-size: 100% auto;
		background-repeat: no-repeat;
		
		opacity: 0;

		transition: opacity 3s;
		
		&.active {
			opacity: 1;
		}
		&#bg1 {
			background-image: url(blue.png);
		}

		&#bg2 {
			background-image: url(orange.png);

		}
		&#bg3 {
			background-image: url(brown.png);

		}
	}

	@media #{$smaller} {
		.bg { opacity: 1; }
		#bg1 { background-position: center 25%;}
		#bg2 { background-position: center 50%;}
		#bg3 { background-position: center 75%;}
	}




}

@keyframes detail {
	from { opacity: 0; }
	to { opacity: 1; }
}
