/*
$sea: #006e9f;
$deepsea: #213869;
$sunset: #dd6c00;
$stone: #a17b19;

$orange: #ea7d00;
$brown: #7e3f3f;
*/

.container {
  width: 100%;
  max-width: 870px;
  margin: 0 auto;
  position: relative;
}

.header {
  padding: 7% 1rem;

  text-align: center;
  composes: fontSizePhi2 from '../styles/shared.module.css';
  font-weight: 100;

  transition: color 0.75s;
}
.allClicked {
  composes: blueText from '../styles/shared.module.css';
  cursor: pointer;
}
.allClickedSmall {
  composes: blueTextLightened from '../styles/shared.module.css';
}

.headerSmall {
  display: block;
  margin-top: 0.5em;

  font-size: 0.8em;
  text-transform: lowercase;

  transition: color 0.5s;
}



.assets {
  position: relative;
  box-sizing: border-box;
}
.assetHeader {
  position: absolute;
  left: 50%;

  text-align: center;
  composes: fontSizePhi from '../styles/shared.module.css';
  composes: headerFont from '../styles/shared.module.css';

  transition: color 1s 0.5s;
}
.assetHeader:hover {
  cursor: pointer;
  transition: color 0.5s;
}
.assetHeaderClicked {
  transition: color 0.25s;
  color: black;
}
.technicalHeader {
  composes: assetHeader;
  top: 0;
  color: #006e9f;
}
.technicalHeader:hover {
  color: #06b2ff
} 
.creativeHeader {
  composes: assetHeader;
  top: 1em;
  color: #ea7d00;
}
.creativeHeader:hover {
  color: #ffb259;
}
.culturalHeader {
  composes: assetHeader;
  top: 2em;
  color: #213869;
}
.culturalHeader:hover {
  color: #3c65be;
}

.details {
  display: none;

  width: 100%;
  margin: 0 auto;
  padding: 1em;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;

  composes: lineHeightNotPhi from '../styles/shared.module.css';

  animation-name: fade-in;
  animation-duration: 1s;
}
.details.detailsActive {
  display: block;
}
.detailsBold {
  font-weight: bold;
}
.detailsBlock {
  text-align: left;
  max-width: 20em;
  margin-left: auto;
  margin-right: auto;
}
.detailsP {
  composes: detailsBlock;
  margin-bottom: 1em;
}


.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  box-sizing: border-box;

  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;

  opacity: 0;

  transition: opacity 0.5s;
}

.bgActive {
  opacity: 1;
  transition: opacity 0.7s 0.25s;
}
.bg1 {
  composes: bg;
  background-image: url(../public/images/bluelines.png);
}

.bg2 {
  composes: bg;
  background-image: url(../public//images/orangedotslight.png);
}
.bg3 {
  composes: bg;
  background-image: url(../public//images/brownboxes.png);
}
.bgScrolled {
}

.gallery {
}
.galleryThumbnail {
  display: inline-block;
  height: 2em;
  width: auto;
  margin: 0.25em;
}
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(73, 84, 97, 0.9);
  animation-name: fade-in;
  animation-duration: 0.3s;
}
.lightboxImg {
  max-width: 100%;
  max-height: 90%;
  width: auto;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@media screen and (max-width: 600px) {
  .assetHeader {
    position: static;
    margin-top: 4em;
  }

  .details {
    display: block;
  }

  .bg {
    position: absolute;
    padding-top: 70%;
    width: 100%;
    height: auto;
    opacity: 1;
    top: auto;
    left: auto;
  
    background-position: center;
  }

  .bgScrolled {
    position: fixed;
    bottom: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .bg1 {
    bottom: 50%;
    composes: bgScrolled;
  }
  .bg2 {
    bottom: 25%;
    composes: bgScrolled;
  }
  .bg3 {
    bottom: 0%;
    composes: bgScrolled;
  }
}

@media screen and (min-width: 601px) {
  .assets {
    padding-top: calc(7% + 4.85410197rem);
  }
  .assetHeader {
    transform: translate(-50%);
  }
}